.hero-section{
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/243/077/non_2x/delivery-to-home-from-online-shopping-in-3d-illustration-rendering-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

 
}
